@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    font-family: Raleway;
}

html {
    background-color: white;
}
* {
    box-sizing: border-box;
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    z-index: 1;
    top : 0;
    width : 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(14,140,199,0.7);
    color: white;
    backdrop-filter: blur(8px);
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #000969;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-family: 'Segoe UI', sans-serif;
  position:relative;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}


* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

footer {
    flex-shrink: 0;
    border-top: 1px dashed #000;
    width: 100%;
    background: #fff;
    color: #333;
}
.content-footer {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 16px;
    padding: 50px 0 100px;
    font-family: 'Segoe UI', sans-serif;

}

.bloc {
    flex-basis: 20%;
    margin: 0 30px;
}

/* contact */
.footer-contact h3,
.footer-services h3,
.footer-schedule h3,
.footer-medias h3 {
    font-size: 22px;
    padding-bottom: 20px;
}

.footer-contact p {
    padding: 5px 0;
}

/* Services */


.services-list,
.schedule-list,
.media-list {
    list-style-type: none;
}
.services-list li {
    padding: 2px 0;
}
.services-list a {
    text-decoration: none;
    color: #333;
}
.services-list a:hover {
    color: rgb(3,3,3);
}


/* Medias */

.media-list {
    position: relative;
    right: 10px;
}
.media-list svg {
    width: 30px;
    margin: 10px 10px;
}
.media-list a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    font-size: 20px;
}


/* Media queries */

@media screen and (max-width: 1000px) {

    .content-footer {
        max-width: 100%;
        flex-wrap: wrap;
    }
    .bloc {
        flex-basis: auto;
        margin: 20px 20px;
    }


}


@media screen and (max-width: 600px) {
    .content-footer {
        justify-content: center;
        padding-top: 30px;
    }
    .bloc {
        flex-basis: 70%;
        /* margin: 10px; */
    }
    .footer-contact h3,
    .footer-services h3,
    .footer-schedule h3,
    .footer-medias h3 {
        padding-bottom: 5px;
    }
}


section#produits {
    margin: 0px 20% 0 20%;
}

section#produits h3{
  font-size: 60px;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 100;
  position: relative;
  padding-left: 2.5vw;
  margin-top:100px;
  z-index: -1;
}

section#produits h3::before{
  content: "";
  position: absolute;
  background-color: #0E98E2;
  width: 180px;
  height: 7px;
  bottom:0;
}


div.produits-item {
    color: #373737;
    height: 300px;
    margin: 15px;
    position: relative;
    flex: 1 0 29%;
    background-repeat: no-repeat;
    background-size: 100%;
}

div.produits-item:hover {
    transform: scale(0.98);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.2s all;
}

div.produits-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sweatb { background: url(../assets/sweatb.jpg); }
.sweatn { background: url(../assets/sweatn.jpg); }
.gourde { background: url(../assets/gourde-bl.png); }
.yearbook { background: url(../assets/yearbook.png); }


.overlay { 
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

span.nom {
    position: relative;
    color: #373737;
    background-color: #DBDBD9;
    top: 20px;
    float: right;
    padding: 12px;
    font-size: 22px;
}

span.prix {
    position: relative;
    color: #fff;
    background-color: #0E98E2;
    padding: 4px;
    font-size: 25px;
    top: 220px;
}

button {
  padding: 20px 50px;
  font-size: 1.5rem;
  cursor: pointer;
  border: 0px;
  background: transparent;
  position: relative;
  transition: all .2s;
  overflow: hidden;
  color: #fff;
  border-radius: 30px;
  box-shadow: 0px -0px 0px 0px rgba(143, 64, 248, .5), 0px 0px 0px 0px rgba(39, 200, 255, .5);
  top:0;
  margin-left:37%;
  margin-top: 100px;
  display:flex;
    justify-content: center;
  align-items: center;
  
}

button::after {
  content: '';
  width: 400px;
  height: 400px;
  position: absolute;
  top: -50px;
  left: -100px;
  background-image: linear-gradient(225deg,#27d86c 0%, #26caf8 50%, #c625d0 100%);
  z-index: -1;
  transition: all .5s;
}

button:hover::after {
  transform: rotate(150deg);
}

button:hover {
  transform: translate(0,-6px);
  box-shadow: 10px -10px 25px 0px rgba(143, 64, 248, .25), -10px 10px 25px 0px rgba(39, 200, 255, .25);
}




